<div class="header">
<p><a href="https://gensc.org/"><img src="/gensc.github.io/images/cropped-full_gsc_logo_sml.png" alt="Genomic Standards Consortium" /></a></p>

<table>
  <tbody>
    <tr>
      <td><a href="/gensc.github.io/pages/index.html">Home</a></td>
      <td><a href="/gensc.github.io/pages/meetings.html">Meeting</a></td>
      <td><a href="/gensc.github.io/pages/about.html">About</a></td>
      <td><a href="/gensc.github.io/pages/news.html">News</a></td>
      <td><a href="/gensc.github.io/pages/projects.html">Projects</a></td>
      <td><a href="/gensc.github.io/pages/standards-intro.html">Standards</a></td>
      <td><a href="/gensc.github.io/pages/contact.html">Contact</a></td>
    </tr>
  </tbody>
</table>
	</div> <!-- /header -->
