<div class="header">
<p><a href="https://gensc.org/"><img src="/only1chunts-gensc.github.io/images/cropped-full_gsc_logo_sml.png" alt="Genomic Standards Consortium" /></a></p>

<table>
  <tbody>
    <tr>
      <td><a href="http://gensc.org">Home</a></td>
      <td><a href="/gensc.github.io/pages/meetings.md">Meeting</a></td>
      <td><a href="/gensc.github.io/pages/about.md">About</a></td>
      <td><a href="/gensc.github.io/pages/new/news.md">News</a></td>
      <td><a href="/gensc.github.io/pages/projects.md">Projects</a></td>
      <td><a href="/gensc.github.io/pages/standards-intro.md">Standards</a></td>
      <td><a href="/gensc.github.io/pages/contact.md">Contact</a></td>
    </tr>
  </tbody>
</table>
	</div> <!-- /header -->
