<div class="header">
<p><a href="https://gensc.org/"><img src="/gensc.github.io/images/cropped-full_gsc_logo_sml.png" alt="Genomic Standards Consortium" /></a></p>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64182019-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-64182019-3');
</script>

</div>
<style>
    div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  /* makes the div class sticky stick to the top of the page on scroll */
}
</style>

<div class="sticky">
     <style>
        #nav {
            list-style: none inside;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        #nav li {
            display: block;
            position: relative;
            float: left;
            background: #D3D3D3;
            /* menu background color */
        }

        #nav li a {
            display: block;
            padding: 0;
            text-decoration: none;
            width: 92px;
            /* this is the width of the menu items */
            line-height: 30px;
            /* this is the hieght of the menu items */
            color: #DC143C;
            /* list item font color */
        }

        #nav li li a {
            font-size: 80%;
        }

        /* smaller font size for sub menu items */

        #nav li:hover {
            background: #FBFAF7;
        }

        /* highlights current hovered list item and the parent list items when hovering over sub menues */

        #nav ul {
            position: absolute;
            padding: 0;
            left: 0;
            display: none;
            /* hides sublists */
        }

        #nav li:hover ul ul {
            display: none;
        }

        /* hides sub-sublists */

        #nav li:hover ul {
            display: block;
        }

        /* shows sublist on hover */

        #nav li li:hover ul {
            display: block;
            /* shows sub-sublist on hover */
            margin-left: 75px;
            /* this should be the same width as the parent list item */
            margin-top: -30px;
            /* aligns top of sub menu with top of list item */
        }
    </style>
    <ul id="nav">
        <li><a href="/gensc.github.io/index.html">Home</a></li>
        <li><a href="/gensc.github.io/pages/about.html">About</a>
            <ul>
                <li><a href="/gensc.github.io/pages/about.html">About</a></li>
                <li><a href="/gensc.github.io/pages/about/governance.html">Governance</a></li>
				<li><a href="/gensc.github.io/pages/about/board-members.html">Board</a></li>
                <li><a href="/gensc.github.io/pages/about/funding.html">Funding</a></li>
			    <li><a href="/gensc.github.io/pages/about/publication-list.html">Publications</a></li> 
            </ul>
        </li>
        <li><a href="/gensc.github.io/pages/standards-intro.html">Standards</a>
	        <ul>
		        <li><a href="/gensc.github.io/pages/standards-intro.html">Standards</a></li>
				<li><a href="/gensc.github.io/pages/standards/mixs.html">Current checklists</a></li>
				<li><a href="/gensc.github.io/pages/standards/compliance.html">Compliance</a></li>
		        <li><a href="/gensc.github.io/pages/standards/mixs-ext-and-profiles.html">Implementations</a></li>
		        <li><a href="https://github.com/GenomicsStandardsConsortium/mixs-legacy" target=_blank >Previous versions</a></li> 
	        </ul>
		</li>
        <li><a href="/gensc.github.io/pages/meetings.html">Meetings</a>
		<ul>
                <li><a href="/gensc.github.io/pages/meetings/current.html">Next meeting</a></li>
                <li><a href="/gensc.github.io/pages/meetings.html">All meetings</a></li>
				<li><a href="/gensc.github.io/pages/calendar.html">Calendar</a></li>
		</ul>
		</li>
        <li><a href="/gensc.github.io/pages/blog.html">Notices</a></li> 
        <li><a href="/gensc.github.io/pages/projects.html">Projects</a></li>

	<li><a href="/gensc.github.io/pages/contact.html">Contact</a>
		<ul>
            <li><a href="/gensc.github.io/pages/contact.html">Contact Us</a></li>
            <li><a href="/gensc.github.io/pages/membership.html">Join Us</a></li>
		</ul>
	</li>
    </ul>
</div>
<br>
<br>

<!-- 	
<table>
  <tbody>
    <tr>
      <td><a href="/gensc.github.io/index.html">Home</a></td>
      <td><a href="/gensc.github.io/pages/meetings.html">Meeting</a></td>
      <td><a href="/gensc.github.io/pages/about.html">About</a></td>
      <td><a href="/gensc.github.io/pages/blog.html">Blog</a></td>
      <td><a href="/gensc.github.io/pages/projects.html">Projects</a></td>
      <td><a href="/gensc.github.io/pages/standards-intro.html">Standards</a></td>
      <td><a href="/gensc.github.io/pages/calendar.html">Calendar</a></td>
      <td><a href="/gensc.github.io/pages/contact.html">Contact</a></td>
    </tr>
  </tbody>
</table>
-->
